<%- include('../parcials/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<body>
    <%- include('../parcials/header.ejs') %>

    <main>
        <section>
            <div >
                <img src="/img/profileIMG/<%= perfilUsuario.imagen %> " class="perfil" alt="">            
            </div>
            <div>
                <h1>Hola <%= perfilUsuario.nombre + ' ' +  perfilUsuario.apellido %></h1>
                <h2><%= perfilUsuario.email %> </h2>
            </div>

            
        </section>
    </main>

    <%- include('../parcials/footer.ejs') %>
    
</body>
</html>