<%- include('../parcials/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<body>
    <%- include('../parcials/header.ejs') %>

    <main>
        <section>
            <div >
                <h1>Hola <%= perfilUsuario.nombre  %></h1>
                <img src="/img/profileIMG/<%= perfilUsuario.imagen %> " alt="">
            
            </div>


            
        </section>
    </main>

    <%- include('../parcials/footer.ejs') %>
    
</body>
</html>