<%- include('../parcials/head.ejs') %>
<link rel="stylesheet" href="/css/productDetail.css">
<body>
    <%- include('../parcials/header.ejs') %>

    <main>
        <section class="contenedo-main">
            <div class="columnas">
                <% if (productDetail == null) {%>
                Ups no encontramos ese producto.
            <% } %>
                    <!-- esto lo hago con ejs desde el front-->
                <section class="columna1">
                    <div class="shadow"><img src="/img/productDetail/1.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/2.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/5.jpg" alt=""></div>
                    <div class="shadow"><img src="/img/productDetail/4.jpg" alt=""></div>
                </section>
                <section class="columna2">
                    <!-- cambiar la imagen con ejs-->
                    <div class="shadow"><img src=" <%= productDetail.image%> " width="100%"></div>
                </section>
                <section class="columna3">
                    <div>
                        <span class="nombre"><%= productDetail.name %></span><br>
                    </div>
                    <div class="precio">
                        <span><strong><%= productDetail.price %></strong></span>
                    </div>
                    <a href="/products/<%= productDetail.id %>/edit">
                        <button>Edit</button>
                    </a>
                    <form action="/products/<%= productDetail.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <div class="medios-de-pago">
                        <span> <strong> Medios de Pago</strong></span><br>
                        <img src="/img/Index/pago.jpg" alt width="100%">
                    </div>
                                        <div class="compra"> 
                        <button class="botones-compra">Comprar Ahora</button>
                        <button class="botones-carrito">Agregar a la Bolsa</button>
                    </div>
                </section>
            </div>
        </section>
    </main>

    <%- include('../parcials/footer.ejs') %>

</body>
</html>