
<%- include('../parcials/head.ejs') %>

<link rel="stylesheet" href="/css/productList.css">

<body>
    <%- include('../parcials/header.ejs') %>

    <main>

        <section>
            <h2 class="titulares">Encontrá el producto que buscas!</h2>

            <div class="articulos">
                    <% productList.forEach((product) => { %>
                        <article class="articulo">
                            <a href="/products/Detail/<%= product.id %> ">
                                <img class="imagen-promo" src="<%= product.image %>" alt="" width="100%">
                                <h3>
                                <%= product.name %>
                                </h3>
                            </a>
                        </article>        
                    <% }) %>
                
                
            </div>
       
        </section>
    </main>
    <%- include('../parcials/footer.ejs') %>
</body>
</html>